.currency, .autonumeric {
	text-align: right;
}

.box-container {
	background: #fff;
	margin-bottom: 30px;
	/* border-bottom: 2px solid #EAEAEA; */
	overflow: hidden;
	position: relative;
}

.prop-info {
	padding: 30px 30px 20px;
}

.more-info {
	margin-left: 0px;
}

.more-info .info-label {
	border-bottom: 1px dotted #E9E9E9;
}

.more-info .info-label:last-child {
	border-bottom: none;
}

select#type, select#transaction, select#location, select#min_m2, 
select#max_price, input[type="number"]#min_rooms {
	width: 100%;
}

.box-effect1 {
  position: relative;
  background: #ddd;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: rgba(0,0,0, .8);
  text-shadow: 0 1px 0 #fff;
  line-height: 1.5;
}


.box-effect1:before, .box-effect1:after {
  z-index: -1; 
  position: absolute; 
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%; 
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7); 
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  transform: rotate(-3deg);
}

.box-effect1:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

#GC .slider-track-high, #GC .slider-track-high {
	background: #ccc;
}

#GC .slider-track-low, #GC .slider-track-low {
	background: #ccc;
}

#GC .slider-selection {
	background: #ccc;
}