.currency, .autonumeric {
	text-align: right;
}

.box-container {
	background: #fff;
	margin-bottom: 30px;
	/* border-bottom: 2px solid #EAEAEA; */
	overflow: hidden;
	position: relative;
}

.prop-info {
	padding: 30px 30px 20px;
}

.more-info {
	margin-left: 0px;
}

.more-info .info-label {
	border-bottom: 1px dotted #E9E9E9;
}

.more-info .info-label:last-child {
	border-bottom: none;
}

select#type, select#transaction, select#location, select#min_area, 
select#max_price, input[type="number"]#min_rooms {
	width: 100%;
}

.box-effect1 {
  position: relative;
  background: #ddd;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: rgba(0,0,0, .8);
  text-shadow: 0 1px 0 #fff;
  line-height: 1.5;
}


.box-effect1:before, .box-effect1:after {
  z-index: -1; 
  position: absolute; 
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%; 
  top: 80%;
  max-width:300px;
  background: rgba(0, 0, 0, 0.7); 
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  transform: rotate(-3deg);
}

.box-effect1:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.bootstrap .page-header {
  border-bottom: 1px solid #000;
  margin: 20px 0 20px;
  padding-bottom: 0px;
}

.property-image {
	 height:100px;
}

@media (min-width: 768px) {
	.property-image {
	 	height:300px;
	}
}

.featured .triangle-top-left {
  border-top: 100px solid #00B244;
  width: 0;
  height: 0;
  border-right: 100px solid transparent;
  position: absolute;
  left: 10;
  top: 10;
  z-index: 1;
}

.featured .featured-text {
  position: absolute;
  top: -80px;
  left: 0;
  color: #ffffff;
  font-weight: 700;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}